{% extends "layout.html" %}
{% load bootstrap3 %}

{% block title %}Login | {{ block.super}}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <hr>
            <h2>Login</h2>
            <form action="" method="POST">
            {% bootstrap_form form %}
            {% csrf_token %}
             <hr>
                <input class="btn btn-lg btn-success submit" type="submit" value="Login">
            </form>
            <hr>
            <a href=""><strong>Forgot password</strong></a>
        </div>
    </div>
</div>

{% endblock %}