{% load bootstrap3 %}
{% block content %}
<table>
    <tbody>
        {% for creditcard in creditcards_list %}
            <tr>
                <td>
                    <a href="{% url 'users:creditcardbound' user.id creditcard.id %}">{{ creditcard.name }}&nbsp&nbsp</a>
                </td>
                <td>
                    <form method="POST" class="form-horizontal">
                        {% csrf_token %}
                        <button class="btn btn-primary btn-sm" type="submit" onclick="clicked()" action=""><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </form>
                </td>
            </tr>
        {% empty %}
            <tr>No credit cards yet.</tr>
        {% endfor %}
        <script>
            function clicked()
            {
                return comfirm('Remove credit card?');
            }
        </script>
    </tbody>
</table>
{% endblock %}