{% extends "layout.html" %}
{% load static %}

{% block content %}
  {% if all_books %}
    <div class="container mt-4">
      <h1 class="mb-4">All Books</h1>
      <div class="row">
        {% for book in books %}
          <div class="col-xs-6 col-sm-6 col-md-3">
            {% include "partials/book.html" %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <h3>
      You do not have any books
    </h3>
  {% endif %}
  {% if page.has_other_pages %}
    <div class="text-center pagination-set" style="padding-top: 40px;">
      <nav aria-label="">
        <ul class="justify-content-center pagination">
          {% if page.has_previous %}
            <li class="page-item"><a class="page-link" href="?page = {{ page.previous_page_number }}"><<</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link"><span><<</span></a>
            </li>
          {% endif %}
          {% for i in page_range %}
            {% if page.number == i %}
              <li class="page-item active">
                <a class="page-link" href="#">{{i}}<span class="sr-only">(current)</span></a>
              </li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {% endif %}
          {% endfor %}
          {% if page.has_next %}
            <li class="page-item"><a class="page-link" aria-label="Next" href="?page={{page.next_page_number}}">>></a></li>
          {% else %}
            <li class="page-item disabled"><a class="page-link"><span>>></span></a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  {% endif %}
{% endblock %}
