{% extends "layout.html" %}
{% load bootstrap3 %}
{% block content %}
	<div class="container">
        <br>
        <div class="row">
            <div class="col-lg-6">
                <h2>Enter your shipping address</h2>
                <form method="POST">
                    {% bootstrap_form form layout='inline' %}
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="btn btn-block btn-lg btn-primary submit" type="submit" value="Add shipping address">
                    </div>
                </form>
            </div>
            <div class="col-lg-4 ml-auto">
                 <h4>your addresses</h4>
                 <ul>
                     <li>address 2</li>
                     <li>address 2</li>
                     <li>address 3</li>
                 </ul>
                 <a href="{% url 'users:profile' %}">Go back to profile</a>
            </div>
        </div>
	</div>
{% endblock %}