{% extends "layout.html" %} 

{% load static from staticfiles %} 
{% load bootstrap3 %}


{% block title %}My profile | {{ block.super}} {% endblock %} 
{% block content %}
<div class="container">
    <hr>
    <h1 class="text-center">My profile</h1>
    <hr>
    <div class="row">
        <div class="col-lg-3">
            <div class="">
                <img src="{% static 'img/user.png' %}" class="img-fluid rounded" alt="Responsive image">
            </div>
        </div>
        <div class="col-lg-9">
            <form method="POST" class="form-horizontal">
                <div class="col-lg-6">
                    {% csrf_token %}
                    {% bootstrap_form form layout='inline' %}
                </div>
                
                <div class="row">
                    <div class="col-lg-4">
                        <input class="btn btn-block btn-lg btn-success submit" type="submit" value="Save changes">
                    </div>
                    <div class="col-lg-3">
                        <div><a class="btn btn-primary btn-block vcenter" href="{% url 'users:changepassword' %}" role="button">Change password</a></div>
                    </div>
                    <div class="col-lg-3">
                        <div><a class="btn btn-primary btn-block vcenter" href="{% url 'users:creditcards' %}" role="button">Credit cards</a></div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
    <div class="row justify-content-lg-center">

    </div>
</div>
{% endblock %}